body {
  
  margin: 10px;
  margin-top: 100px;
  padding: 10px;
  font-family: Verdana, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: right;
  align-items: center;
  background-color:ghostwhite ;

  h2 {
    font-size: 15pt;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  button {
    display: flex;
    justify-items: center;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-left: 12px;
    background: #1c6ce4;
    border: none;
    padding: 5px ;
    color: white;
    cursor: pointer;
    border-radius: 6px;
  }

  ul {

    list-style: none;

    li {
      margin: 20px;
      
      /* img {
        
      } */

      .card {
        margin: 10px;
        width: 380px;
        text-align: left;
        display: flex;
        flex: row;

        .card-body {

        }

        hr {
          width: 120px;
          display: flex;
          justify-content: center;
          justify-items: center;
          align-content: center;
          /* margin-left: 108px; */
        }
      }

    }

  }



}
  




  

  

