* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #92203f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .password-input-box {
    position: relative;
    width: 400px;
    height: 55px;
  }

  .password-input {
    width: 60%;
    height: 20px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    outline: none;
    border-radius: 3.5px;
    color: #d256bf;
    padding-right: 49px;
  }

  .password-input::placeholder{
    color: #d256bf;
  }

  password-input:focus {
    box-shadow: 0 0 0 2px #d256bf,
                0 0 0 9px #43d217;
  }

  .show-password {
    position: absolute;
    right: 165px;
    top: 13%;
    transform: translateY(-30%);
    cursor: pointer;
    color: #92203f;
  }

  .password-checklist {
    position: absolute;
    top: calc(8% + 100%);
    width: 100%;
    padding: 20px 30px;
    background-color: #931c3c;
    border-radius: 4px;

    h3 {
        font-size: 15px;
        color: #3a0715;
        margin-bottom: 5px;
        /* text-align: center; */
      }

      ul {
        list-style: none;

        .list-item {
          padding-left: 45px;
          color: whitesmoke;
          font-size: 14;
        }

        .list-item::before {
          
        }
      }




  }

}