* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #a43894;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  .password-input-box {
    position: relative;
    width: 400px;
    height: 55px;
  }

  .password-input {
    width: 60%;
    height: 20px;
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    outline: none;
    border-radius: 3.5px;
    color: #a43894;
  }

  .password-input::placeholder{
    color: #721f66;
  }

  password-input:focus {
    box-shadow: 0 0 0 6px #721f66,
                0 0 0 9px #43d217;
  }

  .show-password {
    position: absolute;
    right: 17px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #92203f;
  }
}