* {
  margin: 10px 10px;
  
  justify-content: center;
  align-items: center;
}


input {
  display: flex;
  flex-direction: row;
  margin: 10px;

}

button {
  margin-top: 15px;
  cursor: pointer;
}

#resultat {
  margin-top: 15px;
  
}